<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Simple Notes App</title>
	<meta name="description" content="">

	<!-- The compiled CSS file -->
	<link rel="stylesheet" href="/static/css/production.css">

	<!-- Web fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet"> 

	<!-- favicon.ico. Place these in the root directory. -->
	<link rel="shortcut icon" href="favicon.ico">
	<title>	{% block title %} {% endblock %}</title>
	
</head>
<body class="has-animations">
	{% block body %}
	  
	{% endblock %}

</body>
</html>